@model DeliverDancingGoatMVC.Models.BaseProductCollectionViewModel

@if (Model.Items.Any())
{
    foreach (var coffee in Model.Items)
    {
        <!-- 3 products on row for large screen -->
        <div class="col-md-6 col-lg-4">
            @Html.DisplayFor(m => coffee, "ProductListItem")
        </div>
    }
}
else
{
    <span class="ContentLabel">@Resources.DancingGoat.Coffees_NoMatchingProducts</span>
}


