@model EmmTi.KenticoCloudConsumer.EnhancedDeliver.Models.NavigationViewModel

<nav role="navigation">
    <ul>
        @foreach (var navItem in Model.TopNavigationItems)
        {
            <li>
                <a href="@navItem.TargetUrl" title="@navItem.Title">@navItem.Title</a>
            </li>
        }
    </ul>
</nav>
